@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root {
    --backgroud: #000000 ;
    --red: #C20000 ;
    --blue: #001f70 ;
    --gradient : linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    --font:'Titillium Web', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: var(--backgroud);
    font-family: var(--font);
}

img {
    width: 100%;
}
.header-top {
    width: 100%;
    height: 5em;
    /* background-color: white; */
}

.content {
    width: 100%;
    max-width: 75em;
    height: 100%;
    /* background-color: var(--blue); */
    margin: auto;
}

.flex-spbt-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top img {
    max-width: 21.18em;
}

.menu{
    width: 100%;
    max-width: 50em;
}

.menu ul {
    list-style-type: none;
}

.menu a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 0.9em 0.66em ;
    /* background-color: var(--red); */
}

.menu a:hover {
    background-color: var(--red);
    text-shadow: 0 0 20px #ffffff;
    text-decoration:underline ;    
}

#barra{
    display: none;
}

.banner{
    width: 100%;
    height: 607px;
    background: rgb(2,0,36);
    background: linear-gradient(-90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 7%, rgba(236,20,20,1) 100%);
}

.content-banner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.image-banner img{
    width: 90%;
}

.image-banner{
    width: 40%;
    margin-left: 5%;
}

.text-banner{
    width: 40%;
    margin-right: 10%;
    text-align: center;
}

.text-banner h1{
    color: white;
    font-size: 90px;
    font-family: var(--font);
}

.text-banner p{
    color: white;
    font-family: var(--font);
    font-size: 30px;
}

.text-banner a{
    color: white;
    font-size: 30px;
    font-family: var(--font);
    padding: 10px 45px;
    background-color: var(--red);
    border-radius: 10px;
    position: relative;
    top: 40px;
    text-decoration:none;
    text-transform: uppercase;
    font-weight: bold;
}

.text-banner a:hover{
    box-shadow: 0px 0px 64px -1px black;
}

.games{
    width: 100%;
    height: 121px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-games{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15%;
}

.content-games img:hover{
    opacity: 1;
}

.content-games img{
    width: 90%;
    opacity: 0.6;
    transition: 0.3s;
    min-width: 120px;
}

.sobre{
    height: 31.25em;
    background-color: var(--blue);
    position: relative;
}

.sobre-angulos{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.angulo{
    height: 24.125em;
    width: 100%;
    background-color: var(--backgroud);
    transform: skewY(-4.3deg);
}

.container-sobre{
    color: white;
    position: absolute;
    top: 0;
}

.content-sobre {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.texto-sobre {
    width: 50%;
    text-align: justify;
}

.texto-sobre h2 {
    margin-bottom: 1em;
    font-size: 2.18em;
}

.texto-sobre p {
    font-size: 1.25em;
}

.content-sobre img {
    max-width: 31.875em;
}

/* 1199px */
@media screen and (max-width: 74.93em){
           
}

/* 991px */
@media screen and (max-width: 61.93em){
   
}

/* 767px */
@media screen and (max-width: 47.93em){
    
}

/* 567px */
@media screen and (max-width: 36em){
   
}