@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root {
    --backgroud: #000000 ;
    --red: #C20000 ;
    --blue: #001f70 ;
    --gradient : linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    --font:'Titillium Web', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: var(--backgroud);
    font-family: var(--font);
}

img {
    width: 100%;
}
.header-top {
    width: 100%;
    height: 5em;
    /* background-color: white; */
}

.content {
    width: 100%;
    max-width: 75em;
    height: 100%;
    /* background-color: var(--blue); */
    margin: auto;
}

.flex-spbt-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top img {
    max-width: 21.18em;
}

.header-top img:hover {
    transform: scale(1.2);
}

.menu{
    width: 100%;
    max-width: 50em;
}

.menu ul {
    list-style-type: none;
}

.menu a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 0.9em 0.66em ;
    /* background-color: var(--red); */
}

.menu a:hover {
    background-color: var(--red);
    text-shadow: 0 0 20px #ffffff;
    text-decoration:underline ;    
}

#barra{
    display: none;
}

.banner{
    width: 100%;
    height: 37.93em;
    background: rgb(2,0,36);
    background: linear-gradient(-90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 7%, rgba(236,20,20,1) 100%);
}

.content-banner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.image-banner img{
    width: 90%;
    
}

.image-banner img:hover {
    transform: scale(1.4);
}

.image-banner{
    width: 40%;
    margin-left: 5%;
}


.text-banner{
    width: 40%;
    margin-right: 10%;
    text-align: center;
}

.text-banner h1{
    color: white;
    font-size: 5.625em;
    font-family: var(--font);
}

.text-banner p{
    color: white;
    font-family: var(--font);
    font-size: 1.875em;
}

.text-banner a{
    color: white;
    font-size: 1.875em;
    font-family: var(--font);
    padding: 10px 45px;
    background-color: var(--red);
    border-radius: 0.625em;
    position: relative;
    top: 2.5em;
    text-decoration:none;
    text-transform: uppercase;
    font-weight: bold;
}

.text-banner a:hover{
    box-shadow: 0px 0px 64px -1px black;
}

.games{
    width: 100%;
    height: 7.6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-games{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15%;
}

.content-games img:hover{
    opacity: 1;
}

.content-games img{
    width: 90%;
    opacity: 0.6;
    transition: 0.3s;
    min-width: 7.5em;
}

.sobre{
    height: 31.25em;
    background-color: var(--blue);
    position: relative;
}

.sobre-angulos{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.angulo{
    height: 24.125em;
    width: 100%;
    background-color: var(--backgroud);
    transform: skewY(-4.3deg);
}

.container-sobre{
    color: white;
    position: absolute;
    top: 0;
}

.content-sobre {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.texto-sobre {
    width: 50%;
    text-align: justify;
}

.texto-sobre h2 {
    margin-bottom: 1em;
    font-size: 2.18em;
}

.texto-sobre p {
    font-size: 1.25em;
}

.content-sobre img {
    max-width: 31.875em;
}

.partidas{
    color: white;
    width: 100%;
    height: 7.5em;
    background-color: var(--background);
    display: flex;
    justify-content: center;
}

.content-partidas{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
}

.live-partidas{
    text-transform: uppercase;
    width: 30%;
    margin: 0 6%;
    display: flex;
}

.proximas-partidas {
    width: 70%;
    display: flex;
}

.live-partidas h2, .proximas-partidas h2{
    margin-right: 20px;
}

.confrontos{
    display: flex;
    align-items: center;
    padding: 0.625em;
    border: 4px solid white;
    transition: 0.2s;
    opacity: 1;
}

.confrontos:hover{
    opacity: 1;
    border: 4px solid var(--blue);
}

#espacamento{
    margin-right: 0.625em;
}

.confrontos p, img{
    padding: 0 13px;
}

.Noticias{
    width: 100%;
    height: 68.75em;
    background-color: #1E1C21;
    margin-top: 1.25em;
}

.Noticias h2{
    color: white;
    font-size: 35px;
    margin-left: 10%;
    padding: 1.875em;
    padding-left: 0px;
    margin-top: 1px;
}

.content-noticias{
    width: 80%;
    margin: 0 10%;
    display: flex;
}

.aba-noticias{
    width: 80%;
}

.content-tabela{
    width: 20%;
}

.bloco-noticias{
    width: 90%;
    margin-bottom: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noticias-bloco{
    width: 14.81em;
    height: 22.87em;
    background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    box-shadow: 1px 1px 20px 4px #000000;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

.noticias-bloco:hover{
    transform: scale(1.1);
}


.times-tabela{
    color: white;
    margin-bottom: 0.5em;
    padding: 10px 0px;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s;
}

.times-tabela:hover{
    border: 5px solid var(--blue);
}

.times-tabela p{
    padding-top: 0.625em;
}

.placar-tabela{
    width: 13.875em;
    height: auto;
    display: flex;
    align-items: center;
}

.texto-bloco{
    color: white;
    margin: 0.625em;
    margin-top: 0;
}

.texto-bloco h3{
    font-family: 18px;
    text-transform: uppercase;
}


.image-bloco img{
    padding: 0;
}

.tabela-infos{
    width: 14.81em;
    height: 46.93em;
    background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    box-shadow: 1px 1px 20px 4px #000000;
}

.footer{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-self: center;
}

.content-footer{
    width: 100%;
    height: 100%;
    margin: 10px 10%;
}

.superior-footer{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-uteis-footer{
    width: 30%;
}

.links-uteis-footer h4{
    color: white;
    text-decoration: underline;
}

.links-uteis-footer a{
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.links-uteis-footer a:hover{
    text-decoration: underline;
}

.mapa-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.mapa-site-footer h4{
    color: white;
    padding: 0.3125em;
    text-decoration: none;
}

.mapa-site-footer ul{
    display: flex;
}

.mapa-site-footer a{
    color: white;
    margin: 0.875em;
    transition: 0.2s;
    text-decoration: none;
}

.social-medias-footer{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.social-medias-footer h4{
    color: white;
    padding: 0.4375em;
    text-decoration: none;
}

.redes-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-redes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-redes img{
    transition: 0.2s;
}

.links-redes img:hover{
    transform: scale(1.2);
}

.line-footer{
    width: 100%;
    border: 1px solid #cdcdcd;
    background-color: #cdcdcd;
    margin: 25px 0;
}

.inferior-footer{
    margin-bottom: 0.9375em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer{
    width: 30%;
}

.logo-footer img{
    width: 100%;
    max-width: 250px;
    transition: 0.2s;
}

.logo-footer img:hover{
    transform: scale(1.1);
}

.direitos-footer{
    color: white;
}

.direitos-footer span:hover{
    color: var(--blue);
}

.botoes-footer{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.botoes-footer ul{
    display: flex;
}

.botoes-footer a{
    color: white;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}

.buttons-footer a:hover{
    text-decoration: underline;
}


/* 1199px */
@media screen and (max-width: 74.93em){
           
}

/* 991px */
@media screen and (max-width: 61.93em){
   
}

/* 767px */
@media screen and (max-width: 47.93em){
    
}

/* 567px */
@media screen and (max-width: 36em){
   
}